/* *{
  border:1px solid red;
} */
body{
  margin:0;
  min-width:1332px;
}
header{
  position: relative;
  float: left;
}
header>img{
  width:100%;
  position:relative;
}
.tint{
  display:block;
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:rgba(31, 103, 181, 0.7);
  text-align:center;
}
header nav{
  text-align:left;
  padding-top:.5em;
  padding-left:10em;
  color:rgba(37,36,40,0.68);
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align:middle;
  height:58px;
}
header nav a{
  position:relative;
  display:inline-block;
  bottom:1em;
  color:rgba(37,36,40,0.68);
  text-decoration:none;
}
i{
  color:rgba(37,36,40,0.68);
}
header nav a:nth-child(2){
  left:.7em;
}
header nav a:nth-child(3){
  left:42em;
  font-weight:bold;
}
header nav a:nth-child(4){
  left:43em;
  font-weight:bold;
}
header nav a:nth-child(5){
  position:relative;
  left:42.7em;
  bottom:.7em;
}
#title_wrapper{
  margin-top:11em;
}
#title{
  font-size:6.5em;
  font-family:"Lucida Console", Monaco, monospace;
  color:white;
  line-height:1em;
  text-shadow: rgba(37,36,40,0.28) 0 3px;
  font-stretch: ultra-expanded;
}
#subtitle{
  font-size:16px;
  color:rgba(37,36,40,0.68);
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
section, aside{
  float:left;

  box-sizing: border-box;
}
section{
  padding-top:2em;
  padding-left:11em;
  padding-right:2.7em;
  width:64%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
section>h1{
  color:#073470;
  margin-bottom:0em;
  font-size:3.5em;
}
#left_author_photo{
  width:30px;
  margin-bottom:1em;
}
section span.aqua{
  position:relative;
  margin-right:1em;
  bottom:1.6em;
}
section span.silver{
  position:relative;
  bottom:1.6em;
}
section>p{
  font-size:1.1em
}
.silver{
  color:silver;
}
blockquote{
  color:#1A69B0;
  border-left:2px solid grey;
  font-size:2em;
  padding-left:1em;
  margin-left:0.1em;
}
.aqua{
  color:#006699;
}
#utility_button_wrapper>img{
  position:relative;
  top:0.6em;
}
.individual_button_wrapper_1{
  display:inline-block;
  background-color:#60686F;
}
.individual_button_wrapper_2{
  display:inline-block;
  background-color:#60686F;
  margin-left:0.5em;
}
.individual_button_wrapper_3{
  display:inline-block;
  background-color:#153650;
  margin-left:0.5em;
}
.silver_button, .blue_button{
  color:white;
  display:inline-block;
  text-decoration:none;
  padding: 0.35em 0.7em;
}
/* imported icons from fort awesome */
.fa.fa-comment,.fa.fa-cloud-upload,.fa.fa-share-square{
   color:white;
  padding-left:0.5em;
  padding-right:0.1em;
}
.silver_button{
  background-color:silver;
}
.blue_button{
  background-color:#1A69B0;
}
aside{
  width:35%;

  text-align:center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#right_author_photo{
  margin-top:6em;
}
aside span.aqua{
  font-size:1.15em;
}
#social_one, #social_two{
  border-right: 1px solid silver;
}
.social_buttons{
  color:silver;
  text-decoration:none;
  font-size:0.9em;
  padding: 0 0.4em;
}
#surfer_girl{
  margin-top:3.7em;
  display:inline-block;
}
aside>a.silver{
  display:block;
  text-align:right;
  padding-right:7em;
  padding-top:0.5em;
}
aside h2{
  color:#1A69B0;
  margin-bottom:0;
}
aside p{
  width:300px;
  text-align:left;
  padding-left:6em;
  margin-top:0.5em;
}
#most_popular_posts{
  display:block;
  float:left;
  color:#073470;
  font-size:3.5em;
  width:100%;
  text-align:center;
  padding:0.6em 0;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-weight:bold;
  text-decoration:none;
  border-top: silver solid 1px;
  margin-top:1em;
}
.bottom_pics{
  position:relative;
  float:left;
  width:24.85%;
  height:20em;
  background-repeat:no-repeat;
}
.bottom_pics>a{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-decoration:none;
  color:rgba(37,36,40,0.88);
  font-size:1.8em;
  text-align:left;
  font-weight:bold;
}
#box_one>a,#box_two>a,#box_four>a{
  padding:9.5em 0 0 0.5em;
}
/* Box three's content is two lines */
#box_three>a{
  padding:8.4em 0 0 0.5em;
}
.bottom_pics>a:hover{
background-color:rgba(255, 255, 255, 0);
color:white;
}
#box_one,#box_two,#box_four{
  /*   first dimension is width, second is height */
  background-size:auto 100%;
}
#box_three{
  background-size:100% auto;
}
#box_one{
  background-image:url(../FILES/surfboard.jpg);
}
#box_two{
  background-image:url(../FILES/beer.jpg);
}
#box_three{
  background-image:url(../FILES/zach.png);
}
#box_four{
  background-image:url(../FILES/bottles.jpg);
}
footer{
  width:100%;
  /* vertical-align:middle; */
  float:left;
  background-color:#093755;

  padding-top:1.5em;
  padding-bottom:1.5em;
}
footer img{
  float:left;
  padding-left:10em;
  padding-right:1em;
}
footer ul{
  display:inline-block;
  margin:0;
  padding:0;
  list-style-type:none;
  color:#A4B4BF;
}
footer li{
  display:inline-block;
  margin-top:0.8em;
  margin-bottom:0.2em;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
footer ul li:nth-child(2),footer ul li:nth-child(3),footer ul li:nth-child(4){
  border-right: 1px solid #A4B4BF;
  padding-left:0.5em;
  padding-right:0.5em;
}
footer ul li:nth-child(5){
  padding-left:0.5em;
}
footer ul li:nth-child(2){
  margin-left:15em;
}
footer a{
  color:#A4B4BF;
  text-decoration:none;

}
