
body{
  margin:0;
  min-width:1332px;
}
header{
  position: relative;
  float: left;
}
header>img{
  width:100%;
  position:relative;
}
.tint{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  background-color:rgba(31, 103, 181, 0.7);
  text-align:center;
}
nav{
  text-align:left;
  padding-top:.5em;
  padding-left:10em;
  color:rgba(37,36,40,0.68);
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  vertical-align:middle;
  height:58px;
}
nav a{
  position:relative;
  display:inline-block;
  bottom:1em;
  color:rgba(37,36,40,0.68);
  text-decoration:none;
}
nav a:nth-child(2){
  left:.7em;
}
nav a:nth-child(3){
  left:42em;
  font-weight:bold;
}
nav a:nth-child(4){
  left:43em;
  font-weight:bold;
}
nav a:nth-child(5){
  position:relative;
  left:42.7em;
  bottom:.7em;
}
#title_wrapper{
  margin-top:11em;


}
#title{
  font-size:6.5em;
  font-family:"Lucida Console", Monaco, monospace;
  color:white;
  line-height:1em;
  text-shadow: rgba(37,36,40,0.28) 0 3px;
  font-stretch: ultra-expanded;
}
#subtitle{
  font-size:16px;
  color:rgba(37,36,40,0.68);
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
section, aside{
  float:left;

  box-sizing: border-box;
}
section{
  padding-top:2em;
  padding-left:11em;
  padding-right:2.7em;
  width:64%;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
section>h1{
  color:#073470;
  margin-bottom:0em;
  font-size:3.5em;
}
#left_author_photo{
  width:30px;
  margin-bottom:1em;
}
section span.aqua{
  position:relative;
  margin-right:1em;
  bottom:1.6em;
}
section span.silver{
  position:relative;
  bottom:1.6em;
}
section>p{
  font-size:1.1em
}
.silver{
  color:silver;
}
blockquote{
  color:#0066CC;
  border-left:2px solid grey;
  font-size:2em;
  padding-left:1em;
  margin-left:0.1em;
}
.aqua{
  color:#006699;
}
#utility_button_wrapper>img{
  position:relative;
  top:0.6em;
}
.silver_button, .blue_button{
  color:white;
  display:inline-block;
  text-decoration:none;
  margin-right:0.3em;
  padding: 0.35em 0.7em;
}
.silver_button{
  background-color:silver;
}
.blue_button{
  background-color:#0066CC;
}
aside{
  width:35%;

  text-align:center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
}
#right_author_photo{
  margin-top:6em;
}
aside span.aqua{
  font-size:1.15em;
}
#social_one, #social_two{
  border-right: 1px solid silver;
}
.social_buttons{
  color:silver;
  text-decoration:none;
  font-size:0.9em;
  padding: 0 0.4em;
}
#surfer_girl{
  margin-top:3.7em;
  display:inline-block;
}
aside>a.silver{
  display:block;
  text-align:right;
  padding-right:7em;
  padding-top:0.5em;
}
aside h2{
  color:#0066CC;
  margin-bottom:0;
}
aside p{
  width:300px;
  text-align:left;
  padding-left:6em;
  margin-top:0.5em;
}
#most_popular_posts{
  display:block;
  float:left;
  color:#073470;
  font-size:3.5em;
  width:100%;
  text-align:center;
  padding:0.6em 0;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-weight:bold;
  text-decoration:none;
  border-top: silver solid 1px;
  margin-top:1em;
}
.bottom_pics{
  position:relative;
  float:left;
  width:24.85%;
  height:20em;
  background-size:353px 320px;
  background-repeat:no-repeat;

}
#box_one{
  background-image:url(../FILES/surfboard.jpg);
}
#box_two{
  background-image:url(../FILES/beer.jpg);
}
#box_three{
  background-image:url(../FILES/zach.png);
}
#box_four{
  background-image:url(../FILES/bottles.jpg);
}
#box_one>div.tint, #box_two>div.tint, #box_four>div.tint{
  text-align:left;
  padding:16em 1em 1em 1em;
}
div.bottom_pics>div.tint:hover{
  background-color:rgba(255, 255, 255, 0);
  color:white;
}
div.bottom_pics>div.tint>a{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-decoration:none;
  color:rgba(37,36,40,0.88);
  font-size:1.8em;
  text-align:left;
  vertical-align:bottom;
  font-weight:bold;
}
#box_three>div.tint{
  text-align:left;
  padding:14em 1em 1em 1em;
}
footer{
  width:100%;
  height:5em;
  float:left;
  background-color:#093755;
  vertical-align:middle;


}
footer span{
  position:relative;
  top:2em;
  padding-left:1em;
  color: white;

}
#footer_wrapper{

}
footer a{
  color:white;
  text-decoration:none;
}
footer img{
  float:left;
  padding-top:1em;
  padding-left:16em;
}
